@import "../../style/vars.scss";

.text-entry {
  .title {
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 0 10px;
    @media (max-width:768px) {
      margin: 2px;
    }
    &.orange {
      color: $SECONDARY_COLOR;
    }
  }
  a {
    color: $MAIN_COLOR;
  }
}