@import "../../style/vars.scss";

.text-entry {
  .title {
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 0 10px;
    color: $SECONDARY_COLOR;
  }
  a {
    color: $MAIN_COLOR;
  }
}