@import "./_vars";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  font-size: $BASE_FONT_SIZE;
}

body {
  padding: 0;
  background-color: $PAGE_BACKGROUND;

  * {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.45pt;
  }

  .navbar {
    margin: 0;
    box-shadow: 0 0 5px 0 #000;
  }

  .document {
    background-color: $BACKGROUND;
    height: 100%;

    .container {
      background-color: $PAGE_BACKGROUND;
      box-shadow: 0 0 5px 0 #000;
      padding: 0 0;
      margin: 0 auto 20px;

      .row {
        display: flex;
        margin: 15px 0;
      }

      .jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        hr {
          width: 100%;
        }
      }

      .page-header {
        margin: 0 0 10px;
        padding: 0;
        h1 {
          font-size: 22px;
        }
      }

      .media {
        margin: 10px 0;
      }

      .img-circle {
        border: 1px solid black;
      }
    }

    .centered-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}

section {
  position: relative;
  padding: 50px 50px 50px;
  .page-header {
    border-bottom: 1px solid #666666;
  }
  &:nth-child(even) {
    background-color: #e1e1e1;
  }
  &:nth-child(odd) {
    background-color: #ffffff;
  }
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -50px;
  left: 0;
  visibility: hidden;
  &.exact {
    top: -50px;
  }
}

.donutchart-track {
  fill: transparent;
  stroke: #DAE2E5;
  stroke-width: 26;
}

.donutchart-indicator {
  fill: transparent;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray .3s ease;
}

.donutchart {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

.donutchart-text {
  fill: #607580;
}

.donutchart-text-val {
  font-size: 22px;
}

.donutchart-text-percent {
  font-size: 14px;
}

.donutchart-text-label {
  font-size: 9px;
}

.fade-enter {
  opacity: 0.01;
  display: none;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
  display: inherit;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
